body {
	background-color: #CFD8DC;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	width: 1200px; /* width of the wrapper material */
	height: auto; /* height of the wrapper material */
	margin: 0 auto 40px auto;
	padding-bottom: 40px;
	background-color: rgba(252,251,250,0.9);
	border-radius: 8px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30); /* material casts shadow */
	overflow: auto; /* We are trying to make the wrapper visible again */
}

.transparentWrapper {
	width: 1200px; /* width of the wrapper material */
	height: auto; /* height of the wrapper material */
	margin: 0 auto 0 auto;
	overflow: auto; /* We are trying to make the wrapper visible again */
}

header	{
	width: 100%;
	height: 634px;
	background-image: url('images/hero-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #131b1f; /*#69BEF5;*/
	background-size: 634px 476px;
	background-position: 10% 40%;
	box-shadow: 0 9px 18px rgba(0, 0, 0, 0.36);
	position: relative;
	z-index: 2;
}

#herotype {
	width: 30%;
	float: right;
	margin-top: 140px;
}

.announcement-bar {
	position: absolute;
	display: block;
	width: 752px;
	left: 0;
	right: 0;
	margin: -54px auto;
	z-index: 3;
	background: #fff;
	height: 104px;
	border-radius: 2px;
	box-shadow: 0 9px 18px rgba(0, 0, 0, 0.36);
}

.announcement-bar p {
	margin-top: 48px;
	height: 100px;
	background: red;
	margin: 10px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	float: left;
}

/* tricky tricks to vertically center text in a floating card */
.inner {
	display: inline-block;
	vertical-align: middle;
}

.inner4 {
	line-height: normal; /* Reset line-height for the child. */
	background: none;
}

.inner4 h3 {
	margin: 0;
}

.block4 {
	text-align: center;
	width: 70%;
	line-height: 6.5em;
}

.block_button { /* this was probably the most difficult part */
	text-align: center;
	width: 30%;
	line-height: 6.5em;
	float: right;
}

/* end of tricky tricks */

.announcement-bar button {
	margin-left: 0;
	width: 150px;
}

h1	{
	font-weight: 300;
	color: #607d8b;
	letter-spacing: -1px;
}
.salmon	{
	color: #ff799c;
}
.lavender	{
	color: #B2DFDB;
}

main	{
	margin-top: 96px;
	float: left;
}
.card	{
	width: 22.5%;
	float: left;
	margin-left: 2%;
	margin-top: 24px;
	height: auto;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 9px 18px rgba(0,0,0,0.30);
}
.card img	{
	width: 100%;
}
h2	{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 28px;
	margin: 24px 0 0 16px;
	color: rgba(0,0,0,0.54);
	text-align: center;
}
h3	{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 28px;
	margin: 24px 0 0 16px;
	color: #455A64;
}
h4	{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
	margin: 12px 0 0 16px;
	color: #757575;
}
header p	{
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 24px;
	margin-right: 96px;
	font-weight: 300;
	margin-top: 24px;
	color: rgba(0,0,0,0.87);
}
.card p	{
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	margin-top: 16px;
	color: #212121;
	margin-left: 16px;
}

button	{
	background-color: #607D8B;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	margin-left: 20%;
	cursor: pointer;
	padding: 8px;
	transition: all 0.3s ease 0s; 
}
button:hover	{
	background-color: #aabee0;
}	
.floattext	{
	width: 30%;
	float: left;
	margin-top: 96px;
}
.floattext h1	{
	margin-left: 20%;
}
.whitetext	{
	color: #fff;
}
#timetable_area	{
	width: 100%;
	float: left;
	margin-top: 96px;
}
table	{
	width: 75%;
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #212121;
	margin: 24px auto 96px auto;
	text-align: left;
	background-color: #fff;
	box-shadow: 0 9px 18px rgba(0,0,0,0.30);
	border-radius: 2px;
	border-spacing: 22px 22px;
}
th	{
	font-weight: 400;
	border-bottom: 1px solid rgba(0,0,0,0.30);
	padding-bottom: 8px;
}
.r_align	{
	text-align: right;
	color: rgba(0,0,0,0.54);
}
.no_line	{
	border: none;
}
.lunch_break	{
	color: rgba(0,0,0,0.54);
}
a	{
	color: #aabee0;
	text-decoration: none;
	transition: all 0.3s ease-in;
}
a:hover	{
	color: #ff799c;
}
nav	{
	width: 100%;
	position: fixed;
	top: 0;
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	z-index: 4;
}

nav ul {
	background-color: #020506;
	box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3);
}

ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: right;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.transparentcard {
	background-color: transparent;
	box-shadow: none;
}

.transparentcard button, .transparentcard p {
	margin-left: 12px;
}

blockquote	{
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin-top: 16px;
	color: #607D8B;
	margin-left: 12px;
	margin-right: 0px;	
}

#map_area	{
	width: 100%;
	float: left;
	margin-top: 48px;
}
#map_area img	{
	width: 90%;
	margin: 0 auto;
	display: block;
}
.modalDialog	{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	background: rgba(0,0,0,0.75);
	z-index: 99999;
	opacity: 0;
	transition: opacity 0.3s ease-in;
	pointer-events: none;
	font-family: 'Roboto';
}
.modalDialog:target	{
	pointer-events: auto;
	opacity: 1;
}
.modalDialog > div { /* element > element selector, it only selects the direct child div */
	width: 55%;
	position: relative; /* the contents of this div, will be positioned relative to this div */
	margin: 10% auto;
	background: #fff;
	border-radius: 4px;
	padding: 24px 48px;
}
.close	{
	background: #ff799c;
	color: #fff;
	font-weight: 700;
	text-align: center;
	position: absolute;
	line-height: 40px;
	width: 40px;
	border-radius: 20px;
	top: -20px;
	right: -20px;
	box-shadow: 0 6px 9px rgba(0,0,0,0.3);
	transition: all 0.3s ease-in;
}
.close:hover	{
	background: #aabee0;
	color: #fff;
	box-shadow: 0 12px 18px rgba(0,0,0,0.3);
}
textarea	{
	display: block;
	background: #eceff1;
	width: 80%;
	height: 20px;
	margin: 10px auto;
	font-family: 'Roboto';
	font-size: 16px;
	outline: none;
	border: none;
	resize: none;
	font-weight: 400;
}
.modalDialog form	{
	width: 80%;
	margin: 0 auto;	
}
.modalDialog button	{
	width: 100px;
	margin-left: -2px !important;
}

footer {
	width: 100%;
	height: 434px;
	background: #131b1f url('images/hero-img-footer.jpg') no-repeat 50% 25%;
	background-size: 900px auto;
	padding: 35px 0;
	text-align: center;
	font-family: 'Roboto';
	font-size: 16px;
}

footer li {
	display: inline-block;
	margin-left: 20px;
}

ul.social-buttons {
	margin-top: 380px;
	margin-bottom: 0;
	white-space: nowrap;
}

ul.social-buttons li a {
	display: block;
	background-color: transparent;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	outline: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
}

/*Animations are always the hardest part*/
.inner4 h3 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .10em solid #455A64; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	animation: typing 3.5s steps(40, end),
	blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0
	}
	to {
		width: 100%
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to {
		border-color: transparent
	}
	50% {
		border-color: #455A64;
	}
}

/*Animations end here*/

ul.social-buttons .twitter:hover, ul.social-buttons .twitter:focus, ul.social-buttons .twitter:active {
	background-color: rgb(85, 172, 238);
}

ul.social-buttons .facebook:hover, ul.social-buttons .facebook:focus, ul.social-buttons .facebook:active {
	background-color: rgb(59, 89, 152);
}

ul.social-buttons .linkedin:hover, ul.social-buttons .linkedin:focus, ul.social-buttons .linkedin:active {
	background-color: rgb(0, 123, 181);
}

ul.social-buttons .github:hover, ul.social-buttons .github:focus, ul.social-buttons .github:active {
	background-color: rgb(128, 1, 128);
}

ul.social-buttons .instagram:hover, ul.social-buttons .instagram:focus, ul.social-buttons .instagram:active {
	background-color: rgb(155, 105, 84);
}

ul.social-buttons .mail:hover, ul.social-buttons .mail:focus, ul.social-buttons .mail:active {
	background-color: rgb(221, 221, 221);
}


@media screen and (min-device-width: 768px) and (max-device-width: 1025px) and (orientation: landscape) {
	#wrapper	{
		width: 925px;
		margin: 30px auto;
	}
	nav	{
		width: 925px;
	}
	.card, #timetable_area .card	{
		width: 47%;
	}
	table	{
		width: 94%;
	}
	header	{
		height: auto;
	}
	#herotype	{
		margin-top: 40px;
		width: 33%;
	}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1025px) and (orientation: portrait) {
	#wrapper {
		width: 725px;
		margin: 30px auto;
	}

	nav {
		width: 725px;
	}

	.card, #timetable_area .card {
		width: 47%;
	}

	table {
		width: 94%;
	}

	header {
		height: auto;
	}

	#herotype {
		margin-top: 40px;
		width: 42%;
		background-color: #fff;
	}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1025px) and (orientation: landscape) {
	#wrapper {
		width: 925px;
		margin: 30px auto;
	}

	nav {
		width: 925px;
	}

	.card, #timetable_area .card {
		width: 47%;
	}

	table {
		width: 94%;
	}

	header {
		height: auto;
	}

	#herotype {
		margin-top: 40px;
		width: 33%;
	}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1025px) and (orientation: portrait) {
	#wrapper {
		width: 725px;
		margin: 30px auto;
	}

	nav {
		width: 725px;
	}

	.card, #timetable_area .card {
		width: 20%;
	}

	table {
		width: 94%;
	}

	header {
		height: auto;
	}

	#herotype {
		margin-top: 40px;
		width: 42%;
		background-color: #fff;
		padding: 4%;
	}
}
